@import './../../../../styles/variable';

.SliderBanner-Banner{
  position: relative;
  height: 100vh;
  width: 100%;
}
.SliderBanner-BannerBkg{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.SliderBanner-BannerContent{
  position: absolute;
  z-index: 2;
  color: #FFF;
}

.SliderBanner-BannerTitle{
  font-size: 2rem;
  font-family: 'AvenirNextLTPro';
  font-weight: 500;
  margin: 0 0 3rem 0;
  @media (min-width: 90rem) {
    font-size: 3.5rem;
    bottom: 7rem;
  }
}
.SliderBanner-BannerDesc{
  font-size: 1.125rem;
  margin: 3rem 0 4.2rem 0;
  line-height: 1.333;
}






.CategoryBanner-Row{
  display: flex;
  height: 100vh;
  width: 100%;
}
.CategoryBanner-Banner{
  display: block;
  width: 100%;
  height: 100%;
  background: blue;
  position: relative;
  overflow: hidden;
  color: #FFF;
  @media (min-width: 75rem) {
    .Button-ButtonPrimary{
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    }
    &:hover{
      .CategoryBanner-BannerHoverContent{
        opacity: 1;
      }
      .CategoryBanner-BannerHoverBox{
        transform: translate(0, 0);
      }
      .Button-ButtonPrimary{
        background: $color-primary;
      }
    }
  }
}
.SliderBanner-BannerTitl234e{
  margin: 0;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.5rem;
  bottom: 3rem;
  font-family: 'AvenirNextLTPro';
  font-weight: 500;
  @media (min-width: 62.5rem) {
    font-size: 2rem;
  }
  @media (min-width: 90rem) {
    font-size: 3.5rem;
    bottom: 7rem;
  }
}

.CategoryBanner-BannerHoverContent{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.84);
  color: #FFF;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  @media (max-width: 47.4375rem) {
    display: none;
  }
}
.CategoryBanner-BannerHoverBox{
  padding: 0 1rem;
  display: inline-block;
  transform: translate(0 ,-25%);
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}