
@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('./../src/fonts/AvenirNextLTProBold/AvenirNextLTProBold.eot');
  src: url('./../src/fonts/AvenirNextLTProBold/AvenirNextLTProBold.eot') format('embedded-opentype'),
       url('./../src/fonts/AvenirNextLTProBold/AvenirNextLTProBold.woff2') format('woff2'),
       url('./../src/fonts/AvenirNextLTProBold/AvenirNextLTProBold.woff') format('woff'),
       url('./../src/fonts/AvenirNextLTProBold/AvenirNextLTProBold.ttf') format('truetype'),
       url('./../src/fonts/AvenirNextLTProBold/AvenirNextLTProBold.svg#AvenirNextLTProBold') format('svg');
  font-weight: 500;
  font-style: normal;
}

